:root {
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-red: #dd2222;
  --clr-cream: #f4cfa2;

  --clr-alpha-black: rgba(0, 0, 0, 0.6);
  --clr-alpha-red: rgba(221, 34, 34, 0.5);
  --clr-alpha-cream: rgba(244, 207, 162, 0.78);

  --clr-shadow: rgba(57, 0, 0, 0.18);

  --size-p-m: 0.875rem;
  --size-p-t: 1rem;
  --size-p-d: 1rem;

  --size-h-m: 1.5rem;
  --size-h-t: 3rem;
  --size-h-d: 4rem;

  --line-height-m: 1.3rem;
  --line-height-t: 1.4rem;
  --line-height-d: 1.3rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

body {
  background-color: var(--clr-cream);
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "Kelly Slab", cursive;
  font-weight: 400;
  font-size: var(--size-h-m);
}

a,
p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-decoration: none;
  line-height: var(--line-height-m);

  margin-bottom: 0.6rem;

  font-size: var(--size-p-m);
}

.absolute {
  position: absolute;
}

header {
  position: fixed;
  display: none;
}

.hero {
  height: 100vh;
  background: url("./assets/bg/hero.png") no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-black {
  background-color: var(--clr-alpha-black);
  padding: 5rem 0;

  display: flex;
  justify-content: center;
}

.hero-wrapper {
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  max-width: 32rem;

  padding: 0 0.6rem;

  position: relative;
}

.hero-wrapper p {
  font-size: var(--size-p-m);

  z-index: 1;
}

.hero-title {
  margin-bottom: 0.6rem;
  max-width: 32rem;

  z-index: 1;
}

.hero-cross {
  display: none;
  position: absolute;
}
.hero-sword {
  left: -14rem;
  transform: rotate(-30deg);
}
.hero-wand {
  right: -10rem;
  transform: rotate(24deg);
}

@media (min-width: 475px) {
  .hero-wrapper p {
    font-size: var(--size-p-t);
  }

  p {
    line-height: var(--line-height-t);
  }
}

@media (min-width: 700px) {
  .hero-cross {
    display: block;
  }
}

@media (min-width: 1150px) {
  .hero-wrapper {
    margin-right: 15rem;
  }

  .hero-sword,
  .hero-wand {
    left: 35rem;
    transform: rotate(0);
  }
}

@media (min-width: 1280px) {
  .hero-wrapper {
    max-width: 41rem;
  }

  .hero-wrapper p {
    font-size: var(--size-p-d);
  }

  .hero-sword,
  .hero-wand {
    left: 40rem;
  }
}

main {
  padding: 3rem 0.625rem;

  display: flex;
  justify-content: center;
}

.sections-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  position: relative;
}

section h2 {
  color: var(--clr-red);
  margin-bottom: 1rem;
}

section p {
  font-weight: bold;

  max-width: 39rem;
}

section img {
  max-height: 24rem;
  z-index: -1;
}

.toad {
  right: -28rem;
}

.minogob {
  left: -23rem;
  top: -2rem;
}

.book {
  right: -27rem;
  top: -4rem;
}

.rats {
  left: -26rem;
  top: -2rem;
}

.swordandstick {
  right: -23rem;
  top: -2rem;
}

@media (min-width: 450px) {
  h2 {
    font-size: var(--size-h-t);
  }

  p {
    font-size: var(--size-p-t);
  }

  section {
    width: 85%;
    max-width: 46rem;
  }
}

@media (min-width: 768px) {
  section {
    align-self: start;
    max-width: 32rem;
  }

  section:nth-child(2n) {
    background-color: var(--clr-alpha-cream);
  }

  section p {
    max-width: 28rem;
  }

  section:nth-child(2n) {
    /* margin-left: 18rem; */
    align-self: end;
  }

  .sections-wrapper {
    gap: 10rem;
    width: 100%;
    max-width: 1000px;
  }
  section img {
    position: absolute;
  }
}

@media (min-width: 1050px) {
  p {
    font-size: var(--size-p-d);
  }
  h2 {
    font-size: var(--size-h-d);
  }

  .sections-wrapper {
    gap: 14rem;
  }

  section {
    width: 100%;
    max-width: 57rem;
  }

  section:nth-child(2n) {
    margin-left: 30rem;
    align-self: auto;
  }

  section img {
    max-height: 30rem;
  }

  .toad {
    right: -23rem;
    top: 3rem;
  }

  .minogob {
    left: -28rem;
    top: -5rem;
  }

  .book {
    right: -24rem;
    top: 4rem;
  }

  .rats {
    left: -37rem;
    top: -8rem;
  }

  .swordandstick {
    right: -12rem;
    top: 0rem;
  }
}
