* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #f4cfa2;
  overflow-x: hidden;
}

.absolute {
  position: absolute;
}

h2,
h3 {
  font-family: "Kelly Slab", cursive;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8181rem;
  color: #dd2222;
  margin: 0;
}

a,
p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.2075rem;
  color: black;
  margin: 0;
  padding-bottom: 0.625rem;
  text-decoration: none;
}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.hero {
  height: 100vh;
  background: url("./assets/bg/hero.png") no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
}

header {
  color: white;
  padding: 2.5625rem 3.1875rem 0rem 3.1875rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 100;
}

header > a > h2 {
  font-size: 1.25rem;
  color: white;
  text-decoration: none;
}

header > a:hover {
  text-decoration: none;
}

header > nav {
  display: flex;

  /* wtf */
  align-items: center;
  gap: 3.25rem;
}

nav > a {
  color: white;
  font-size: 1.25rem;
}

.hero-main-block {
  height: 25.5rem;
  background-color: #00000099;

  display: flex;
  justify-content: center;
}

.hero-text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 39.375rem;

  position: relative;

  margin-left: -20.0625rem;
}

.hero-text-title {
  width: 32.3125rem;
  /* height: 9.75rem; */
  margin-bottom: 13px;
}

.hero-text-block > p {
  color: white;
  font-size: 1rem;
}

.hero-sword {
  top: 3.2625rem;
  left: 39.8125rem;
}

.hero-wand {
  top: 3.7125rem;
  left: 42.1875rem;
}

.scroll-down-button {
  width: 2.75rem;

  bottom: 2.125rem;
  left: 50%;
  transform: translateX(-50%);
}

main {
  padding-top: 5.1875rem;
  padding-bottom: 13.75rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 13.75rem;

  /* width: 1000px; */
}

section {
  /* margin-left: 10.25rem; */
  background-color: #f4cfa2c7;

  position: relative;
}

section:nth-child(2n) {
  margin-left: 36rem;
}

section > h2 {
  font-size: 4rem;
  line-height: 4.8rem;
  width: 59.0625rem;

  margin-bottom: 1rem;
}

section > p {
  width: 39.375rem;
  font-size: 1.1rem;
  font-weight: bold;
}

section > img {
  position: absolute;
}

.toad {
  top: 1.875rem;
  right: -21.25rem;
}

.minogob {
  top: -6.125rem;
  left: -33.25rem;

  z-index: -1;
}

.book {
  top: 1.875rem;
  right: -21.25rem;
}

.rats {
  top: -9.125rem;
  left: -37.25rem;
}

.swordandstick {
  top: 2.875rem;
  right: -8.25rem;
}

.download-block {
  height: 100vh;
  background: url("./assets/bg/download.png") no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.download-text-block {
  height: 25.375rem;
  width: 100%;
  background-color: #00000080;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 6rem;
}

.download-text-block > h2 {
  font-size: 4rem;
  line-height: 4.875rem;
  color: #f4cfa2;
  width: 55.4375rem;
}

.download-button {
  display: flex;
  /* width: 55.4375rem; */

  position: relative;
}

.download-button > button {
  border: 0;

  width: 194px;
  height: 69px;

  background: rgba(221, 34, 34, 0.5);
  border-radius: 118px;

  cursor: no-drop;
}

.download-button > button > h2 {
  color: #ffffff80;
  font-size: 2rem;
}

.crab {
  top: -4.375rem;
  right: 2.1875rem;

  cursor: no-drop;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 100vh;

  padding-top: 4.6875rem;
  padding-bottom: 0.5rem;
}

footer > h2 {
  font-size: 64px;
  line-height: 77px;
  color: #dd2222;
}

.credits {
  display: flex;
  justify-content: center;
  gap: 12.125rem;
}

.creator {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 18.125rem;
}

.creator > img {
  border-radius: 50%;
  width: 14.1875rem;

  margin-bottom: 4rem;
}

.creator > h3 {
  font-size: 36px;
  color: #000000;
  text-align: center;

  margin-bottom: 1.5rem;
}

.creator > p {
  text-align: center;
  padding: 0;
  font-weight: bold;
}

.creator > p:first-of-type {
  margin-bottom: 1rem;
}
